@use '../shared/functions' as *;
@use './typography' as *;
@use './layout' as *;
@use '../shared/colors' as *;

.categories {
    @extend .container;
    text-align: center;
    padding-top: crem(103px);
    padding-bottom: crem(103px);
    

    &__title {
        @extend .subtitle;
    }

    &__text {
        color: var(--primary);
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        padding-top: crem(29px);
        gap: crem(30px);
    }

    &__list-bg {
        width: crem(200px);
        height: crem(200px);
        border-radius: crem(10px);
        background-color: var(--third-light);
        box-shadow: 0px 0px 20px #00000040;
    }

    &__img {
        width: 60%;
        height: 60%;
        object-fit: contain;
        padding-top: crem(50px);
    }

    &__title {
        @extend .subtitle;
        padding-top: crem(12px);
    }
}