@use '../shared/functions' as *;
@use './typography' as *;
@use './layout' as *;

.main-section {
    @extend .container;
    margin: 0;
    background-color: var(--secondary);
    background-image: url(../../images/background.png);
    background-repeat: no-repeat;
    min-height: crem(900px);
    max-width: crem(1600px);
    position: relative;
    background-size: 60%;
    background-position: bottom right;

    &__description {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    &__titles {
        @extend .title;
        text-transform: uppercase
    }

    &__text {
        margin-top: crem(20px);
        @extend .heading;
        margin-bottom: crem(60px);
    }


    &__buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &__btn--second {
        border: crem(2px) solid var(--primary);
        margin-left: crem(20px);
    }

    @media screen and (max-width: 1440px) {
        &__description {
            top: 40%;
        }
    }

    @media screen and (max-width: 768px) {
        padding: 0;
        min-height: crem(700px);

        &__description {
            top: 50%;
            left: 5%;
            right: 5%;
            transform: translateY(-50%);
        }

        &__titles {
            @include medium;
        }

        &__text {
            @include heading;
            margin-bottom: crem(30px);
        }

        &__buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            justify-content: center;
        }

        &__btn--first {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 469px) {
        background-image: none;
        background-color: var(--secondary);
        min-height: crem(600px);
    }
}