@use './functions' as *;

html {
    font-size: $html-font-size;
}

body {
    font-size: crem(16px);
    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    line-height: crem(30px);

}