@font-face {
    font-family: 'Heldane Display';
    src: url('./fonts/heldane-display/HeldaneDisplay-MediumItalic.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneDisplay-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Display';
    src: url('./fonts/heldane-display/HeldaneDisplay-BoldItalic.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Display';
    src: url('./fonts/heldane-display/HeldaneDisplay-Bold.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Display';
    src: url('./fonts/heldane-display/HeldaneDisplay-Medium.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Text';
    src: url('./fonts/heldane-display/HeldaneText-BoldItalic.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Display';
    src: url('./fonts/heldane-display/HeldaneDisplay-Regular.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Text';
    src: url('./fonts/heldane-display/HeldaneText-Bold.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Display';
    src: url('./fonts/heldane-display/HeldaneDisplay-RegularItalic.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneDisplay-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Text';
    src: url('./fonts/heldane-display/HeldaneText-MediumItalic.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Text';
    src: url('./fonts/heldane-display/HeldaneText-Regular.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Text';
    src: url('./fonts/heldane-display/HeldaneText-RegularItalic.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Heldane Text';
    src: url('./fonts/heldane-display/HeldaneText-Medium.woff2') format('woff2'),
        url('./fonts/heldane-display/HeldaneText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
