html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu {
  display: block;
}

body {
  line-height: 1;
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

html {
  --primary: #f63d3d;
  --white: #fff;
  --black: #000;
  --secondary: #ffc632;
  --primary-light: #e92323b3;
  --third: #f6f6f6;
  --third-light: #9850c540;
  --grey: #c0c0c0;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
  color: var(--black);
  line-height: 3rem;
}

.text, .contact__list-item, .btn {
  font-size: 1.5rem;
  line-height: 2em;
  font-weight: 500;
}

.subtitle, .contact__oder-list__item, .contact__card-listitem, .shop__text, .products__texts, .buying-section__title, .categories__title, .dashbar__text, .main-header__title {
  font-size: 2.4rem;
  line-height: 2.6em;
  font-weight: 500;
}

.title, .main-section__titles {
  font-size: 6.4rem;
  line-height: 1.25em;
  font-weight: 700;
}

.small, .dashbar__description {
  font-size: 1.3rem;
  line-height: 1.538em;
  font-weight: 500;
}

.heading, .contact__list-item__subtitle, .about__text, .main-section__text {
  font-size: 2.4rem;
  line-height: 1.333em;
  font-weight: 400;
}

.medium, .contact__oder-list, .contact__card-list, .shop__title, .shop__subtitle, .brands__subtitle, .brands__title, .about__title, .products__title, .dashbar__name, .dashbar__title {
  font-size: 4.8rem;
  line-height: 1em;
  font-weight: 400;
}

.btn {
  padding: 1.4rem 2.4rem;
  border-radius: 11rem;
  width: 20.1rem;
  background-color: var(--primary);
}
.btn--primary {
  color: var(--white);
  box-shadow: 0px 0px 20px rgba(246, 61, 61, 0.7019607843);
  background-color: var(--primary);
}
.btn--transparent {
  color: var(--primary);
  background-color: transparent;
}
.btn:hover {
  background-color: var(--primary-light);
}
.btn--second:hover {
  color: var(--white);
}

.container, .contact, .shop, .brands, .about, .products, .buying-section, .categories, .dashbar, .main-section, .main-header__navigation {
  padding-left: 21.5rem;
  padding-right: 21.5rem;
}

.main-header {
  position: relative;
  margin: 0;
}
.main-header__title {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  padding-left: 5rem;
  padding-right: 2rem;
}
.main-header__navigation {
  padding-top: 2.9rem;
  padding-bottom: 2.9rem;
}
.main-header__links-list {
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 5rem;
}
.main-header__link-item:first-child {
  margin-right: 11.8rem;
}
.main-header__navigation-menu {
  display: none;
  left: 1%;
}
.main-header__icon {
  color: var(--primary);
}
.main-header__img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1440px) {
  .main-header__navigation {
    padding: 2rem;
  }
}
@media screen and (max-width: 1440px) and (max-width: 1024px) {
  .main-header__links-list {
    display: none;
  }
  .main-header__navigation {
    display: none;
  }
  .main-header__navigation-menu {
    display: block;
    width: 3rem;
    color: var(--white);
    position: absolute;
    top: 0.4rem;
    font-size: 3rem;
  }
}

.main-section {
  margin: 0;
  background-color: var(--secondary);
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  min-height: 90rem;
  max-width: 160rem;
  position: relative;
  background-size: 60%;
  background-position: bottom right;
}
.main-section__description {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.main-section__titles {
  text-transform: uppercase;
}
.main-section__text {
  margin-top: 2rem;
  margin-bottom: 6rem;
}
.main-section__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-section__btn--second {
  border: 0.2rem solid var(--primary);
  margin-left: 2rem;
}
@media screen and (max-width: 1440px) {
  .main-section__description {
    top: 40%;
  }
}
@media screen and (max-width: 768px) {
  .main-section {
    padding: 0;
    min-height: 70rem;
  }
  .main-section__description {
    top: 50%;
    left: 5%;
    right: 5%;
    transform: translateY(-50%);
  }
  .main-section__titles {
    font-size: 4.8rem;
    line-height: 1em;
    font-weight: 400;
  }
  .main-section__text {
    font-size: 2.4rem;
    line-height: 1.333em;
    font-weight: 400;
    margin-bottom: 3rem;
  }
  .main-section__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  .main-section__btn--first {
    margin-right: 0;
  }
}
@media screen and (max-width: 469px) {
  .main-section {
    background-image: none;
    background-color: var(--secondary);
    min-height: 60rem;
  }
}

.dashbar {
  padding-top: 6rem;
  text-align: center;
  background-color: var(--third);
}
.dashbar__img {
  width: 10%;
}
.dashbar__text {
  color: var(--primary);
}
.dashbar__name {
  color: var(--primary);
}
.dashbar__title {
  padding-bottom: 4.7rem;
}
.dashbar__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.dashbar__list-item {
  padding-bottom: 2rem;
  justify-content: space-evenly;
}
.dashbar__icon-bg {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: var(--third-light);
  border-radius: 8px;
  width: 16.5rem;
  height: 16.5rem;
  justify-content: center;
  margin: auto;
}
.dashbar__icon {
  font-size: 10rem;
}
@media screen and (max-width: 500px) {
  .dashbar {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .dashbar__img {
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .dashbar__img {
    width: 20%;
  }
}
@media screen and (max-width: 645px) {
  .dashbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.categories {
  text-align: center;
  padding-top: 10.3rem;
  padding-bottom: 10.3rem;
}
.categories__text {
  color: var(--primary);
}
.categories__list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2.9rem;
  gap: 3rem;
}
.categories__list-bg {
  width: 20rem;
  height: 20rem;
  border-radius: 1rem;
  background-color: var(--third-light);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2509803922);
}
.categories__img {
  width: 60%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 5rem;
}
.categories__title {
  padding-top: 1.2rem;
}
@media screen and (max-width: 500px) {
  .categories {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (max-width: 645px) {
  .categories {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.buying-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.buying-section__about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 3rem;
}
.buying-section__img {
  width: 80%;
  height: auto;
  max-width: 20rem;
}
.buying-section__image {
  width: 60%;
  height: 60%;
}
@media screen and (max-width: 1275px) {
  .buying-section {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .buying-section__image {
    width: 100%;
    height: 100%;
  }
}

.products {
  padding-top: 6rem;
  text-align: center;
  padding-bottom: 10.3rem;
}
.products__title {
  color: var(--black);
  padding-bottom: 4.7rem;
}
.products__text {
  color: var(--primary);
}
.products__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 1rem;
}
.products__img {
  width: 100%;
  height: auto;
}
.products__icon {
  color: var(--grey);
  transition: 0.3s;
}
.products__icon:active, .products__icon:hover {
  color: var(--secondary);
}
.products__number {
  color: var(--primary);
}
@media screen and (max-width: 1300px) {
  .products {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .products__icon-list, .products__texts, .products__number {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
}
@media screen and (max-width: 500px) {
  .products {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3.3rem;
  }
  .products__icon-list, .products__texts, .products__number {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
  .products__list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3rem;
  }
  .products__list-item {
    width: 70%;
    height: auto;
  }
}

.about {
  background-image: url(../images/section-bg.png);
  background-color: var(--white);
  text-align: center;
  padding-top: 10.3rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
}
.about__block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.about__icon {
  width: 80%;
  height: auto;
  max-width: 20rem;
}
.about__title, .about__text {
  text-align: justify;
}
.about__btn {
  margin-top: 2rem;
}
.about__img {
  width: 40%;
  height: auto;
  bottom: 0;
  left: 0;
  position: absolute;
  background-position: center bottom;
}
@media screen and (max-width: 1560px) {
  .about__img {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .about {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .about__img {
    display: none;
  }
  .about__title {
    font-size: 2.4rem;
    line-height: 2.6em;
    font-weight: 500;
  }
  .about__text {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
}
@media screen and (max-width: 645px) {
  .about {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .about__img {
    width: 20%;
  }
}

.brands {
  padding-top: 6rem;
  text-align: center;
  padding-bottom: 10.3rem;
}
.brands__subtitle {
  color: var(--primary);
}
.brands__title {
  padding-bottom: 4.7rem;
}
.brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
}
.brands__list-item {
  border: 1px solid var(--primary);
  border-radius: 1.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
}
.brands__img {
  max-width: 20rem;
}
@media screen and (max-width: 900px) {
  .brands {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .brands {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.shop {
  background-image: url(../../images/bg-img.png);
  background-color: var(--white);
  text-align: center;
  padding-top: 10.3rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 5rem;
  margin-bottom: 10.3rem;
}
.shop__subtitle {
  color: var(--primary);
}
@media screen and (max-width: 800px) {
  .shop {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 645px) {
  .shop {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .shop {
    padding: 4rem;
  }
  .shop__title, .shop__subtitle {
    font-size: 2.4rem;
    line-height: 2.6em;
    font-weight: 500;
  }
  .shop__text {
    font-size: 1.3rem;
    line-height: 1.538em;
    font-weight: 500;
    padding-bottom: 2.7rem;
  }
}

.contact {
  padding-top: 10.3rem;
  padding-bottom: 5rem;
  background-color: var(--primary);
  gap: 5rem;
}
.contact__img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.contact__input {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--white);
  border-bottom: 1px solid #fff;
}
.contact__list {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: var(--white);
}
.contact__list-item {
  position: relative;
}
.contact__oder-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact__link {
  text-decoration: underline;
}
.contact__card-list {
  padding-top: 3rem;
  text-align: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  gap: 1rem;
}
@media screen and (max-width: 1500px) {
  .contact {
    padding-left: 5.3rem;
    padding-right: 5.3rem;
  }
}
@media screen and (max-width: 1250px) {
  .contact {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .contact__list-item {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
  .contact__list-item__subtitle {
    font-size: 2.4rem;
    line-height: 2.6em;
    font-weight: 500;
  }
  .contact__card-list, .contact__order-list {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
}
@media screen and (max-width: 645px) {
  .contact {
    padding-left: 0;
    padding-right: 0;
  }
  .contact__img {
    display: none;
  }
  .contact__oder-list__item {
    font-size: 2.4rem;
    line-height: 1.333em;
    font-weight: 400;
  }
}
@media screen and (max-width: 560px) {
  .contact__list-item {
    font-size: 1.3rem;
    line-height: 1.538em;
    font-weight: 500;
  }
  .contact__list-item__subtitle {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
  .contact__oder-list__item, .contact__card-list {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
}
@media screen and (max-width: 420px) {
  .contact {
    padding-top: 5.3rem;
    font-size: 1.3rem;
    line-height: 1.538em;
    font-weight: 500;
  }
}
@media screen and (max-width: 400px) {
  .contact {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .contact__list-item__subtitle {
    font-size: 2.4rem;
    line-height: 1.333em;
    font-weight: 400;
  }
  .contact__list {
    gap: 5rem;
  }
  .contact__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .contact__list-item {
    font-size: 1.5rem;
    line-height: 2em;
    font-weight: 500;
  }
}/*# sourceMappingURL=style.css.map */